<table id="weights" class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Weight (kg)</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for weight in weights %}
            <tr>
                <td>{{ weight.date.format('Y-m-d g:ia') }}</td>
                <td>{{ weight.weight }}</td>
                <td>
                    {% if weight.comment %}
                        <img class="comment" src="{{ asset('bundles/dtltrainer/icons/note.png') }}" data-content="{{ weight.comment|replace({"\n": "<br/>"})|raw }}" data-original-title="{{ weight.weight }}"/>
                    {% endif %}
                </td>
                <td><a href="{{ path('weight_delete', {'weight_id': weight.id}) }}"><i class="icon-remove"></i></a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $('.comment').popover();
        $('#weights').tablesorter();
    });
</script>

