<table class="calendar">
<thead>
    <tr>
        {% for day in ['Sun', 'Mon', 'Tue', 'Wed', 'Thr', 'Fri', 'Sat'] %}
            <th>{{ day }}</th>
        {% endfor %}
    </tr>
</thead>
{% for week in calendar.getCurrentMonth().getWeeks() %}
    <tr>
    {% for day in week.getDays %}
        <td class="{% if day.isInMonth %}dayInMonth{% endif %}">
            {{ day.getDate().format('d') }}<br/>
            {% for event in day.getEvents() %}
                <span class="activity">{{ event.getActivity }}:</span> {{ format_meters(event.getDistance()) }}{{ user_preference.get('distanceUnit') }}<br/>
            {% endfor %}
        </td>
    {% endfor %}
    </tr>
{% endfor %}
</table>
