<form class="form-horizontal" action="#" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
    {{ form_row(form.activity) }}
    {{ form_row(form.measuredBy) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    <div id="time_distance" class="control-group">
        <label>Distance / Time</label>
        <div></div>
    </div>
    {{ form_row(form.labels) }}
    {{ form_row(form._token) }}
    <button class="btn btn-info" type="submit" class="positive">{% trans %}Save{% endtrans %}</button>
    <a href="{{ path("sessions") }}" class="btn">{% trans %}Cancel{% endtrans %}</a>
</form>
<div style="display: none">
    <div id="distance_row">
        <div class="control-group">
            {{ form_label(form.distance) }}
            {{ form_errors(form.distance) }}
            <div class="controls">
                {{ form_widget(form.distance) }}
            </div>
        </div>
    </div>
    <div id="time_row">
        <div class="control-group">
            {{ form_label(form.time) }}</td>
            {{ form_errors(form.time) }}
            <div class="controls">
            {{ form_widget(form.time) }}
            </div>
        </div>
    </div>
</div>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $('#route_measuredBy').change(function() {
            if (this.value == 'distance') {
                $('#time_distance').empty().append($('#distance_row').clone().children());
            }
            if (this.value == 'time') {
                $('#time_distance').empty().append($('#time_row').clone().children());
            }
        });

        $('#route_measuredBy').change();
    });
</script>
